nav ul{
    list-style:none;
    display:inline;
    background:transparent ;
    position:fixed;
}

nav ul li{
    display:inline;
    margin-top: 1rem;
    padding:10px 10px ;
    font-size: 20px;
 

}
.nav-link
{
	   color: #fff;
	  font-family: 'Alegreya SC', serif;
}
.intro h1
{
	color: #fff;
	padding-top:  4%;
	font-family: 'Monoton', cursive;
	text-decoration: underline overline;
}
.intro h5{
	color: #fff;
	font-family: 'Merriweather', serif;
}
p{
	align-content: center;
	color: #fff;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}


.intro{
    /*background-image: url("img/intro.jpg");*/
    background-color: black; 
    width: 100%;
    height: 40vh;
    background-size: auto;

}
.float-lg-left
{
	background-color: grey;
	margin: 10%;
	padding: 5%;
	margin-top: -6%;
	z-index: 10;
	color: #fff;
    font-family: 'Alegreya SC', serif;
    
}
#about
{
	background: red;
}
